.bookCard .main {
    width: 280px;
    height: 372px;
}
.book-info h3 {
    padding-top: 12px;
}
.book-info .raiting-pages {
    display: flex;
    justify-content: space-between;
}

.raiting-pages .pages , .raiting-pages .raiting {
    display: flex;
    gap: 3px;
    padding-top: 10px;
} 
.book-info button {
    width: 280px;
    height: 40px;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
    background-color: var(--primery-color);
    transition: 0.3s all;
}
.book-info button a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    width: 100%;
    height: 50%;
    display: block;
    text-align: center;
}
.book-info button:hover {
    background-color: #fff;
    border: 1px solid var(--primery-color);
}
.book-info button:hover a {
    color: var(--primery-color);
}